<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conjugaison</title>
    <link href="conjugaison.css" rel="stylesheet">
</head>
<body>
    <div class="boxTest">
        <div class="exemple">
            <div class="conjugaison">       
                <div class="condition">
                    <p>Verbe : Vogliere</p>
                    <p>Temps : Imparfait</p>
                </div>
                <p class="phrase">Ho <input> di fare un pisolino dopo aver mangiato.</p>
            </div>
            <div class="verif">
                <a>VERIFIER</a>
                <button class="hint">Besoin d'Aide?</button>    
            </div>
        </div>
        <div class="exemple">
            <div class="conjugaison">       
                <div class="condition">
                    <p>Verbe : Piacere</p>
                    <p>Temps : Imparfait</p>
                </div>
                <p class="phrase">A tutti noi <input> fumare una sigaretta dopo i pasti.</p>
            </div>
            <div class="verif">
                <a>VERIFIER</a>
                <button class="hint">Besoin d'Aide?</button>    
            </div>
        </div>
        <div class="exemple">
            <div class="conjugaison">       
                <div class="condition">
                    <p>Verbe : Pensare</p>
                    <p>Temps : Imparfait</p>
                </div>
                <p class="phrase">Mi <input>di farvi pagare per imparare.</p>
            </div>
            <div class="verif">
                <a>VERIFIER</a>
                <button class="hint">Besoin d'Aide?</button>    
            </div>
        </div>
        <div class="exemple">
            <div class="conjugaison">       
                <div class="condition">
                    <p>Verbe : Commossere</p>
                    <p>Temps : Imparfait</p>
                </div>
                <p class="phrase">La sua proposta mi <input></p>
            </div>
            <div class="verif">
                <a>VERIFIER</a>
                <button class="hint">Besoin d'Aide?</button>    
            </div>
        </div>
</body>
</html>